header {
  color: #333;
  text-align: center;
  padding: 10px 0;
}

form {
  max-width: 600px;
  margin: 20px auto;
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select,
input[type="text"],
input[type="date"],
input[type="Category"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}


input[type="radio"] {
  margin-right: 8px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox{
  display: flex;
  flex-direction: row;
}

.div1 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.radio-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically */
}

.radio-group label {
  margin-right: 16px;
}

/* Style for checkboxes */
.checkbox-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-group label {
  margin-right: 16px;
}

/* Additional styles for input fields */
input[type="text"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Example styles for a form container */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

/* Example styles for a button group */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Example styles for a centered home button */
.home-button {
  display: block;
  margin: 10px auto;
}

/* Example styles for the table container */
.tableData {
  margin-top: 60px;
  z-index: 1;
}

/* .booking-list-container {
  position: relative;
} */

.add-booking-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -500px; /* Initially off-screen */
  height: 100%;
  width: 500px;
  background-color: #f0f0f0;
  transition: right 0.3s ease-in-out;
}

.sidebar.visible {
  right: 0; /* Slide in from the right */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Hide the "Add Booking" button when the sidebar is visible */
.add-booking-button.hidden {
  display: none;
}


/* bookingListForm.css */

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

.radio-group {
  display: flex;
  margin-bottom: 16px;
}

.radio-group input {
  margin-right: 8px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tableData {
  margin-top: 60px;
}

.employee-table {
  width: 100%;
  border: 3px solid #ddd;
}

/* Add more styles as needed */
