/* sidebar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #0a1f33 !important;
  padding: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  margin: 20px;
}

.horizontal-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.plus-icon {
  font-size: 1.2rem;
  color: #28a745;
  margin-right: 10px;
}

h5 {
  margin-right: 10px;
}

.number {
  background-color: #28a745;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-left: 10px;
  display: flex;
}

/* Responsive styles */

/* For screens smaller than 576px (e.g., mobile phones) */
@media (max-width: 575px) {
  .sidebar {
    flex-direction: row; /* Change to horizontal layout for small screens */
    align-items: center; /* Center items horizontally */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    padding: 10px 0; /* Adjust padding */
  }

  .horizontal-section {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .number {
    margin-left: 0;
  }
}

.sidebar {
  background-color: #0a1f33 !important;
  padding: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  margin: 20px;

  /* Responsive styles */
  @media (max-width: 575px) {
    width: 100%; /* Full width for the sidebar on small screens */
    margin: 0; /* Remove margin on small screens */
  }
}

/* For screens between 576px and 767px (e.g., tablets in portrait mode) */
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    /* Add specific styles for tablets if needed */
  }
}
