/* sidebar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0a1f33;
  padding: 10px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  z-index: 100;
  width: 200px;
}

.section {
  display: flex;
  align-items: center; /* Align items horizontally */
  margin-bottom: 15px;
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  color: #28a745;
  margin-right: 10px; /* Adjust space between icon and label */
}

h5 {
  margin: 0; /* Remove default margin */
}

.number {
  background-color: #28a745;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.8rem;
  margin-left: auto; /* Push the number to the right */
}

/* Responsive styles for .section */
@media (max-width: 575px) {
  .section {
    margin-bottom: 10px;
  }
}
