/* Center the container horizontally and vertically */
.calendar-container {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px; /* Adjust padding if needed */
  margin-top: 100px; /* Adjust margin for spacing from the navbar or other components */
  z-index: 1; /* Set a z-index */
  max-width: 1000px; /* Adjusted maximum width for a smaller calendar */
  max-height: 800px; /* Adjusted maximum height for a smaller calendar */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
}

/* Make the FullCalendar component fill the container width and height */
.calendar-container .fc {
  width: 100%;
  height: 100%;
}

/* Add any other styles as needed */
